<div class="page-header">
  <h3>Owner #<%= @owner.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @owner.email %></dd>

      <dt>Password</dt>
      <dd><%= @owner.password %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/owners" class="btn btn-primary">
        Back
      </a>
      <a href="/owners/<%= @owner.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_owner/<%= @owner.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Owner has many properties -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Properties
      </li>

      <% @owner.properties.each do |property| %>
        <li class="list-group-item">
          <a href="/properties/<%= property.id %>">
            <%= property.owner_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/properties/<%= property.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/properties/<%= property.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_property/<%= property.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
