<div class="page-header">
  <h3>Property #<%= @property.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Owner</dt>
      <dd><%= @property.owner_id %></dd>

      <dt>Tenant</dt>
      <dd><%= @property.tenant_id %></dd>

      <dt>Manager</dt>
      <dd><%= @property.manager_id %></dd>

      <dt>Home or apartment</dt>
      <dd><%= @property.home_or_apartment %></dd>

      <dt>Number bedrooms</dt>
      <dd><%= @property.number_bedrooms %></dd>

      <dt>Number bathrooms</dt>
      <dd><%= @property.number_bathrooms %></dd>

      <dt>City</dt>
      <dd><%= @property.city %></dd>

      <dt>Neighborhood</dt>
      <dd><%= @property.neighborhood %></dd>

      <dt>Policies</dt>
      <dd><%= @property.policies %></dd>

      <dt>Price</dt>
      <dd><%= @property.price %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/properties" class="btn btn-primary">
        Back
      </a>
      <a href="/properties/<%= @property.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_property/<%= @property.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Property has many maintenance_requests -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Maintenance_requests
      </li>

      <% @property.maintenance_requests.each do |maintenance_request| %>
        <li class="list-group-item">
          <a href="/maintenance_requests/<%= maintenance_request.id %>">
            <%= maintenance_request.property_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/maintenance_requests/<%= maintenance_request.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/maintenance_requests/<%= maintenance_request.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_maintenance_request/<%= maintenance_request.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_maintenance_request" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for property_id -->
      <input type="hidden" name="property_id" value="<%= @property.id %>">

      <!-- Label and input for body_of_request -->
      <div class="form-group">
        <label for="body_of_request" class="control-label">
          Body of request
        </label>

        <textarea id="body_of_request" name="body_of_request" placeholder="Body of request" class="form-control" rows="3"></textarea>
      </div>

      <button class="btn btn-block btn-success">
        Create Maintenance Request
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Property has many messages -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Messages
      </li>

      <% @property.messages.each do |message| %>
        <li class="list-group-item">
          <a href="/messages/<%= message.id %>">
            <%= message.sender_type %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/messages/<%= message.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/messages/<%= message.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_message/<%= message.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_message" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for sender_type -->
      <div class="form-group">
        <label for="sender_type" class="control-label">
          Sender type
        </label>

        <input type="text" id="sender_type" name="sender_type" placeholder="Sender type" class="form-control" value="">
      </div>

      <!-- Label and input for recipient_type -->
      <div class="form-group">
        <label for="recipient_type" class="control-label">
          Recipient type
        </label>

        <input type="text" id="recipient_type" name="recipient_type" placeholder="Recipient type" class="form-control" value="">
      </div>

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          Body
        </label>

        <textarea id="body" name="body" placeholder="Body" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for property_id -->
      <input type="hidden" name="property_id" value="<%= @property.id %>">

      <button class="btn btn-block btn-success">
        Create Message
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
